/* menu.css
 * 
 * 定义网页菜单样式。
 */


#menu {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 5px;

    background-color: var(--menu-background-color);
    border-radius: 5px;

    height: 45px;
}

#avater {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 5px;
    top: -2px;
    
    border-radius: 50%;
}

#avater:hover {
    height: 42px;
    width: 42px;
    left: 4px;
    top: -3px;
    
    box-shadow: 2px 2px 5px #888888;
}

#menu-a {
    position: absolute;
    left: 60px;
    top: 12px;

    font-size: 14px;
}

#menu-a:link {text-decoration: none; color: var(--menu-a-color);}
#menu-a:visited {text-decoration: none; color: var(--menu-a-color);}
#menu-a:hover {
    left: 59px;
    top: 11px;
    font-size: 16px;
    color: var(--menu-a-color);
}
#menu-a:active {
    left: 61px;
    top: 13px;
    font-size: 12px;
    color: var(--menu-a-color);
}

body {
    --menu-background-color: rgb(103, 187, 255);
    --menu-a-color: rgb(0, 117, 156);
}
